.table-add-btn {
  align-content: right;
}

.table-chk-box {
  margin:0 0 0 0;
}

.table-title {
  width: 200px;
}

.table-url {
  width: 300px;
}

.table-del-btn {
  width: 20px;
}

.table-button {
  margin-top: 10px;
  margin-right: 10px;
}

